
#rancidbannerbg{
	position: absolute;
    height: 100px;
    display: block;
    width:100%;
	
}
#rancidbanner1{
	position: relative;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
	
}

#title{
    text-align: center;
}

main{
    margin: 60px 150px;
    background-color: #d8d3d3;
    height: 150%;
    position: relative;
}

#rottenlargebg{
	position: absolute;
    height: 130px;
    display: block;
    width:100%;
	
}
#freshlarge{
	position: relative;
    height: 130px;
    display: block;
    width:20%;
	
}


#lightgreen{
display: inline;
position: absolute;
right: 0;
top: 0;
background-image: url('bg.png');
height: 100%;
}


#div{
    padding: 10px;
    margin: 10px 40px ;
    width: 70%;
    border: inset grey;
	border-width: 3px;
	border-radius: 10px;
    background-color: white;
}

#div2{
    margin: 0px 0px 30px 40px;
}

h5{
    display: inline;
}

p{
    display: inline;
}

h1{
    display: inline;
    color: #ff0000;
    position: absolute;
    right: 800px;
    top: 25px;
    font-size: 40px;
}

#art.img{
    display: outline;
}

#text{
    background-image: url('bg.png');
    width: 300px;
}

pre{
    text-align: left !important;
    
}